src/alternative-bots/Psatir/bin/Debug/net8.0/Psatir.dll
src/alternative-bots/Psatir/bin/Debug/net8.0/Psatir.exe
src/alternative-bots/Psatir/bin/Debug/net8.0/Psatir.pdb
src/alternative-bots/Psatir/obj/Debug/net8.0/apphost.exe
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.AssemblyInfo.cs
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.AssemblyInfoInputs.cache
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.assets.cache
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.csproj.FileListAbsolute.txt
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.dll
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.GeneratedMSBuildEditorConfig.editorconfig
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.genruntimeconfig.cache
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.pdb
src/alternative-bots/Psatir/obj/Debug/net8.0/Psatir.sourcelink.json
src/alternative-bots/Psatir/obj/Debug/net8.0/ref/Psatir.dll
src/alternative-bots/Psatir/obj/Debug/net8.0/refint/Psatir.dll
src/alternative-bots/Psatir/obj/project.assets.json
src/alternative-bots/Psatir/obj/project.nuget.cache
src/alternative-bots/Psatir/obj/Psatir.csproj.nuget.dgspec.json
